/* ==============================================================================
 * WOFI STYLING PROFILE (FOOLS GAZE PASTEL RED)
 * ============================================================================== */

window {
    margin: 0px;
    border: 2px solid #ff6b6b;
    background-color: #141111;
    font-family: "BigBlueTerm437 Nerd Font", monospace;
    font-size: 16px;
    border-radius: 0px;
}

#outer-box {
    margin: 5px;
    border: none;
}

#input {
    margin: 10px;
    border: 1px solid #332929;
    color: #f4eaea;
    background-color: #1f1a1a;
    border-radius: 0px;
    padding: 4px;
}

#input:focus { 
    border: 1px solid #ff6b6b; 
}

#inner-box { 
    margin: 5px; 
    border: none; 
    background-color: transparent; 
}

#scroll { 
    margin: 5px; 
    border: none; 
    }

#text { 
    margin: 5px; 
    border: none; 
    color: #f4eaea; 
}

#entry:selected { 
    background-color: #ff6b6b; 
}

#entry:selected #text { 
    color: #141111; 
    font-weight: bold; 
}
