hidden {
  -GtkWidget-visible: false;
}

button,
button image {
  min-height: 0px;
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
}

label {
  font-family: "bigblueterm", monospace;
  font-size: calc(@bar_thickness * 0.7);
}

image {
  -ScaleImage-symbolic: true;
}

/* taskbar CSS properties */
button#taskbar_item {
  padding: calc(@bar_thickness * 0.1);
  border-radius: 0px;
  border-width: 0px;
  -GtkWidget-hexpand: false;
}

button#taskbar_item:hover {
  background-color: rgba(213,213,213,0.6);
}

button#taskbar_item image {
  min-height: calc(@bar_thickness * 0.8);
  min-width: calc(@bar_thickness * 0.8);
  padding-right: calc(@bar_thickness * 0.25);
  padding-left: calc(@bar_thickness * 0.25);
  -ScaleImage-symbolic: false;
  -GtkWidget-vexpand: true;
}

/* tray CSS properties */
button#tray_item {
  margin: 0px;
  border: none;
  padding: 0px;
}

button#tray_item.passive {
  -GtkWidget-visible: false;
}

button#tray_item image {
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  padding: 3px;
  margin: 0px;
  border: none;
}
