#Api2

# 1. Essential SFWBar Widget Modules
include("taskbar.widget")
include("winops.widget")

# 2. Window Placer
placer {
    xorigin = 5
    yorigin = 5
    xstep = 5
    ystep = 5
    children = true
}

# 3. Taskbar Layout
layout {
    layer = "top"
    position = "bottom"

    grid ":start" {
        css = "* { -GtkWidget-hexpand: true; }"
        
        taskbar {
            rows = 1
            labels = true
            icons = true
            group = false
            sort = false
            style = "taskbar"
            action[1] = Activate
            action[2] = Minimize
            action[3] = Menu "winops"
        }
    }

    grid ":end" {
        tray {
            rows = 1
        }
    }
}
