#Api2

# 1. Window Placer
placer {
    xorigin = 5
    yorigin = 5
    xstep = 5
    ystep = 5
    children = true
}

# 2. Main Layout
layout {
    # Taskbar (Expands to fill empty space)
    grid {
        css = "* { -GtkWidget-hexpand: true; }"
        
        taskbar {
            rows = 1
            icons = true
            labels = true
            group = false
            sort = false
        }
    }

    # Applets / System Tray (Pushed to the right)
    grid {
        halign = "end"
        
        tray {
            rows = 1
        }
    }
}
