* {
    font-family: "BigBlueTerm437 Nerd Font";
    font-size: 22px;
    font-weight: bold;
    background-image: none;
}

window {
    background-color: rgba(12, 10, 10, 0.9);
}

grid {
    background-color: #100d0d;
    border: 2px solid #ff6b6b;
    margin: 150px 300px;
    padding: 30px;
}

button {
    color: #ff6b6b;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px dashed #ff6b6b;
    margin: 8px 15px;
    padding: 15px 25px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#lock, #logout, #suspend, #reboot, #shutdown {
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

button:hover, button:focus {
    background-color: #ff6b6b;
    color: #ffffff;
    border: 2px solid #ff6b6b;
    outline: none;
}
