window {
    background-color: rgba(29, 32, 33, 0.9);
}

button {
    border-radius: 10px;
    border: 2px solid #282828;
    color: #ebdbb2;
    background-color: #282828;
    margin: 10px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #d3869b;
    border: 2px solid #d3869b;
    color: #1d2021;
}

button:focus {
    background-color: #d3869b;
    color: #1d2021;
}
