/* ==============================================================================
 * WAYBAR STYLING (FOOLS GAZE PASTEL RED)
 * ============================================================================== */

* {
    border: none;
    border-radius: 0;
    font-family: "Cozette", "Misaki", "VT323", monospace;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: #141111;
    border-bottom: 2px solid #ff6b6b;
    color: #f4eaea;
}

#modules-left, #modules-center, #modules-right {
    background: transparent;
    padding: 2px 4px;
}

/* Workspaces Module */
#workspaces button {
    padding: 0 8px;
    color: #857070;
    background: transparent;
}

#workspaces button.focused {
    color: #ff6b6b;
    font-weight: bold;
}

#workspaces button.urgent {
    color: #ef4444;
}

#workspaces button:hover {
    background: rgba(255, 107, 107, 0.1);
    color: #f4eaea;
}

/* System Modules Formatting */
#clock, #cpu, #memory, #pulseaudio, #network, #battery, #tray {
    padding: 0 10px;
    margin: 0px;
    color: #f4eaea;
}

#clock {
    color: #ffb37b;
    font-weight: bold;
}

#battery.critical {
    color: #ef4444; 
    animation-name: blink; 
    animation-duration: 0.5s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
}

@keyframes blink {
    to { color: #141111; background-color: #ef4444; }
}
