layout {
    // Gap size between windows and the screen edge
    gaps 16

    // Default column width (1/2 of the screen)
    default-column-width { proportion 0.5; }

    // When opening a new window, don't auto-center it if Niri is set to side-by-side
    center-focused-column "never"
}

// Global Animation Speed
animations {
    slowdown 1.0
}

// Window Rules
window-rule {
    // Wofi needs to be forced to float, otherwise Niri will try to tile the app launcher
    match app-id=r#"^wofi$"#
    open-floating true
}

window-rule {
    // Waybar should not be tiled or decorated
    match app-id=r#"^waybar$"#
    open-floating true
}
