* {
    font-family: "BigBlueTerm437 Nerd Font", monospace;
    font-size: 18px;
}

window {
    background-color: rgba(20, 17, 17, 0.75); 
}

grid {
    background-color: #141111;
    border: 2px solid #ff6b6b;
    margin: 250px 350px; 
    padding: 20px;
}

#lock, #logout, #suspend, #reboot, #shutdown {
    background-image: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

button, button * {
    color: #f4eaea !important;
    text-align: left;
    padding: 5px 10px;
    transition: none;
}

button:hover, button:hover *, button:focus, button:focus * {
    background-color: #ff6b6b !important;
    color: #141111 !important;
    font-weight: bold;
}
